.Tag {
  background-color: var(--color-accent--secondary-light);
  color: var(--color-accent--secondary);
  border-radius: var(--border--soft);
  padding: 0 16px;
  margin-inline-start: 1ch;
  display: inline-block;
}
