:root {
  --color--base: white;
  --color-contrast--low: rgb(244, 244, 244);
  --color-contrast--medium: rgb(137, 137, 157);
  --color-contrast--high: rgb(10, 10, 20);
  --color-accent--primary: rgb(255, 175, 77);
  --color-accent--secondary: rgb(22, 132, 115);
  --color-accent--secondary-light: rgb(209, 227, 225);
  --border--soft: 8px;
  --timing--interaction: 100ms;
  --easing--interaction: ease;
}
