:root {
  --color--base: white;
  --color-contrast--low: rgb(248, 248, 248);
  --color-contrast--medium: rgb(218, 218, 218);
  --color-contrast--high: rgb(115, 115, 115);
  --color-accent--primary: rgb(255, 175, 77);
  --color-accent--secondary: rgb(22, 132, 115);
  --color-accent--secondary-light: rgb(209, 227, 225);
  --border--soft: 8px;
  --timing--interaction: 100ms;
  --easing--interaction: ease;
}
